@import "@borderline/ui/styles.css";
@source "./stories";

:root {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
